node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# custom
.env
.firebase
firebase-functions/firebase-debug.log
firebase-functions/firestore-debug.log
firebase-functions/ui-debug.log
firestore-debug.log
ui-debug.log
