rules_version = '2';
// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {

    // Default for all docs: Any logged-in user has read access
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // messages: Any logged-in user has read access. Allow only authenticated content owners write access.
    match /messages/{messages} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.user._id;
    }

    // users_private: Allow only authenticated content owners access
    match /users_private/{users_private} {
      allow read: if request.auth != null && request.auth.uid == request.resource.data.uid;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }

    // users_public: Any logged-in user has read access. Allow only authenticated content owners write access.
    match /users_public/{users_public} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }

  }
}